WAD_MVC/Web References/localhost/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="u" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="p" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExam">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetAllExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllExamResult" type="tns:ArrayOfExam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfExam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="exam" nillable="true" type="tns:exam" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="exam">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="subject_name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="exam_time" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="watcher" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="subject" type="tns:subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subject">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="duration" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="exams" type="tns:ArrayOfExam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="exam" type="tns:exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AddExamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="exam" type="tns:exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeleteExamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="subject" type="tns:subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AddSubjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubject">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSubjectResult" type="tns:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="tns:subject" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>